/* ---------------------------------( agree )---------------------------------------- */

.info_title{
    font-size : 1.8rem;
    font-weight: bold;
    padding-top:2.5rem;
    padding-left:0.5rem;
}

.info_box{
    margin: 0 auto; 
    width: 100%;
    max-width: 1280px;
    margin-top:1rem;
    border:0.001px solid rgb(216, 216, 216);
    background-color: white; 
}

.info_box_wrapper{
    margin: 0 auto; 
    width: 100%;
    max-width: 1280px;
}

.info_content{
    margin-bottom:1.3rem;
    margin-top:1.3rem;
    margin-left:2rem;
    margin:2rem;
    font-weight:normal;
    font-size:0.9rem;
    text-align:left;
}

.confirm_btn {
    background: rgb(164, 26, 55);
    width:15%;  
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    margin-top: 1.5rem;
    border-radius: 3px;
    padding:0.5rem;
    float:right;
    cursor: pointer;
    outline: 0;
}

/* ---------------------------------( agree 검사대상 모달 )---------------------------------------- */

.target_color_span {
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(164, 26, 55)
}

.target_num_div {
    font-size:1.5rem;
    margin : 2rem 0 2rem 0;
}

.target_caution_div {
    color:#d32f2f; 
    font-weight:bold;
    font-size:1rem;
    margin : 2.3rem 0 2.3rem 0;
}

.target_table {
    font-size:1rem;
    width: 55%;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.target_table_th {
    text-align: center;
    height: 2.5rem;
    background-color: #f8f8f8;
    border-top: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

.target_table_td {
    text-align: left;
    padding : 0.3rem 0.7rem 0.3rem 0.7rem;
    height: 2rem;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    
}



