/* ---------------------------------( agree )---------------------------------------- */
.regi_small_box {
    padding-bottom:40px;
}

.regi_small_box .big_title{
    text-align: center;
    font-size : 30px;
    font-family: 'Rubik', sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
}
.regi_small_box .info_title {
    text-align: center;
    font-size : 20px;

    font-family:'Rubik', sans-serif;
}

.regi_small_box .gray_placeholder[id="id"], .gray_placeholder[id=
"pw"] {
    font-size: 20px;
    display: block;
    font-family: 'Rubik', sans-serif;
    width: 30%;
    align-content: center;
    margin: auto;
    margin-top: 20px;
    padding: 1px;
    border: 0;
    background: white;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;

}

.regi_small_box .regi_btn{
    background: #6188E8;
    color: #fff;
    margin:auto;
    width:100px;
    height:40px;
    margin-top:30px;
    margin-bottom: 30px;
    padding:10px;
    border:0px;
    border-radius: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 13px;

}
.regi_small_box .regi_btn:hover{
    background: #003D91;
}

.info_box {
    text-align: center;
    margin: 0 auto;
    width: 700px;
    height: 300px;
    margin-top: 1.5rem;
    border: 0.001px solid rgb(216, 216, 216);
    background-color: white;
    padding: 1.5rem;
    padding-bottom: 2.5rem;
    margin-bottom: 4rem;
}



.info_box_wrapper{
    margin: 0 auto; 
    width: 100%;
    max-width: 1280px;
}

.info_content{
    margin-bottom:1.3rem;
    margin-top:1.3rem;
    margin-left:2rem;
    margin:2rem;
    font-weight:normal;
    font-size:0.9rem;
    text-align:left;
}
.gray_sec .container {
    text-align: center;
    background: white;

.gray_sec {
    background: white;
    padding: 0;
}


