

/* ---------------------------------( custom )---------------------------------------- */
.custom_content{
    display: block;
    margin: 0 50px 40px;
    text-align: center;
}

.custom_use{
    display: none;
    width: 400px;
    height: 140px;
    border-radius: 10px;
    background: #dddedf;
    position: absolute;
    left: 50%;
    font-size: 13px;
    padding: 50px;
    font-weight: 400;
    text-align: left;
    z-index: 1;
}

.custom_box {
    display: block;
    width: 600px;
    height: 190px;
    margin: 30px 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    background: linear-gradient(125deg,#E8EBF2,#F2F3F7);
    border: 1px solid white;
    box-shadow: 15px 15px 30px #dddedf;
    perspective-origin: 50% 50%;
    perspective: 400px;
    text-align: center;

    /* fade */
    display: inline-block;
    padding: 10px;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}


/* fade */
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.custom_form{
    display: flex;
    justify-content: center;
    margin: 30px;
}

/* .custom_btn{
    display: block;
    margin-left: 40px;
} */

.caution_div {
    color: #d32f2f;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

/* .custom_box_wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1280px;
    justify-content: center;
    align-content: center;
    margin-top: 1.5rem;
    padding-left: 12rem;
    padding-right: 12rem;
} */

.custom_title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 2rem;
    text-align: center;
}

.custom_subtitle {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.custom_form input[type="text"] {
    font-family: inherit;
    width: 40%;
    outline: none;
    background-color: #feffff;
    border-radius: 4px;
    display: block;
    box-shadow: 5px 5px 10px 5px #e6e7e8 inset;
    font-size: 17px;
    letter-spacing: 2px;
    color: #4A4A4A;
    text-indent: 40px;
    border: none;

    background-image: url(/static/img/magnifying-glass-solid.svg);
    background-size: 6%;
    background-position: left;
    background-position-x: 23px;
    background-repeat: no-repeat;
    /* opacity: 0.6; */

    font-size: 1rem;
    /* border: 0.5px solid black; */
    padding: 10px 10px 10px 15px;
    outline: 0;
    height: 1.5rem;
    width: 14rem;
}

.custom_box hr {
    width: 100%;
}

.result_zone {
    display: block;
    text-align: center;
    border: 1px solid rgb(153, 153, 153);
    margin-bottom: -1rem;
}

.new_td {
    height: 2rem;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

.td_input {
    height: 100%;
    width: 90%;
    border: 0;
    outline: none;
    text-align: center;
}

.new_td_input {
    height: 100%;
    width: 90%;
    border: 0;
    outline: none;
    text-align: center;
    color: #1ac06d;
    font-size: 0.9rem;
    font-weight: bold;
}

.custom_search_btn {
    background: #6188E8;
    width: 70px;
    /* height: 40px; */
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    cursor: pointer;
    outline: 0;
    margin-left: 0.9rem;
}

.custom_search_btn {
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
                6px 6px 10px rgba(0, 0, 0, .15);
}

.custom_search_btn:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
                2px 2px 4px rgba(0, 0, 0, .1);
    background: #7090e3;
}

.custom_search_btn:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
                inset 2px 2px 4px rgba(0, 0, 0, .15);
}

#custom_modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 10%;
}

.search_result{
    margin-bottom: 20px;
    text-align: center;
}

.custom_modal_title{
    padding: 40px;
    font-size: 20px;
    border-bottom: 1px solid lightgray;
    align-items: center;
}

.custom_modal_content{
    padding: 40px;
    text-align: center;
}

.custom_search_result{
    display: block;
    width: 1200px;
    margin: 30px 20px;
    padding-bottom: 40px;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    background: linear-gradient(125deg,#E8EBF2,#F2F3F7);
    border: 1px solid white;
    box-shadow: 15px 15px 30px #dddedf;
    perspective-origin: 50% 50%;
    perspective: 400px;
    text-align: center;

    /* fade */
    display: inline-block;
    padding: 10px;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari and Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.csutom_result_td{
    border: 1px solid lightgray;
}

.del_btn {
    background: white;
    border: 0.001px solid rgb(160, 160, 160);
    padding: 0.5rem;
    cursor: pointer;
    outline: 0;
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
}

.save_btn {
    /* background: #6188E8;
    width: 8%;
    height: 40px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    cursor: pointer;
    outline: 0;
    margin-left: 0.8rem;
    position: relative;
    left: 400px; */
}

.caution{
    color: #d32f2f;
    font-weight: bold;    
}

#s_num{
    margin-left: 2rem;
    height: 8%;
}

