/* ---------------------------------( mypage 이동 버튼)---------------------------------------- */

.go_result_wrap{
    margin-top:1.5rem;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.go_result_box{
    text-align: center;
    width:200px;
}

.go_result_text{
    font-size:4rem;
}

.go_result_btn{
    background: #6188E8;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding:0.7rem 1rem 0.7rem 1rem;
    cursor: pointer;
    outline: 0;
}

/* ---------------------------------( mypage 박스 )---------------------------------------- */

.my_box_wrap{
    display: flex;
    position : relative;
    align-content: center;
    margin-top:1.5rem;
    padding-left : 12rem;
    padding-right : 12rem;
}

.my_box{
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 23.5rem;
    padding:2.5rem;
    margin: 1rem 1rem 1rem;
    border:1px solid rgb(216, 216, 216);
    background-color: white;
    font-size:1rem;
}

.my_box_title{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    font-size:1.4rem;
    font-weight: bold;
}

.my_box_title i{
    margin-right:1rem;
    color:rgb(136, 136, 136);
}

.my_box_mod_btn{
    float:left;
    background: white;
    font-size: 0.85rem;
    font-weight: bold;
    border: 0.001px solid rgb(160, 160, 160);
    padding:0.5rem;
    cursor: pointer;
    outline: 0;
}

.my_box_grade hr,
.my_box hr{
    width:100%;
    border-top: 0.001px solid rgb(216, 216, 216);
    border-bottom: 0.001px solid white;
    margin-top:1rem;
    margin-bottom:1.3rem;
}

.my_box table{
    font-size:1.05rem;
}

.my_box tr{
    height:2.7rem;
}

.my_box_table_1st_td{
    width:35%;
    font-weight: bold;
}

/* ---------------------------------( mypage 기이수성적 )---------------------------------------- */

.show_table {
    margin-top: 1.5rem;
    padding: 0.7rem 0 0.7rem 0;
    height: 1.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    border-top: 1.5px solid rgb(216, 216, 216);
    cursor: pointer;
}

.my_box_mod_btn:hover,
.show_table:hover {
    background-color: #f3f3f3;
}


.my_box_grade {
    display: flex;
    flex-direction: column;
    width: 68rem;
    height: auto;
    margin: 1rem 1rem 4rem;
    border: 1px solid rgb(216, 216, 216);
    background-color: white;
}


.grade_table {
    width: 90%;
    text-align: center;
    margin:0 auto;
    margin-top:1rem;
    margin-bottom:1rem;
}

.grade_table_th {
    font-size: 1rem;
    height: 2.5rem;
    background-color: #f8f8f8;
    border-right :1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

.grade_table_td {
    font-size: 0.9rem;
    height: 2rem;
    border-right :1px solid #dadada;
    border-bottom: 1px solid #dadada;
}



/* https://ingijjung.tistory.com/11 파일 업로드 css */

.box-file-input {
    background-color: rgb(248,249,250);
    padding:1rem ;
    margin:0 auto;
    width:60%;
    border:1px solid rgb(216, 216, 216);
}

.box-file-input span{
    font-size:1.1rem;
    font-weight: bold;
}

.box-file-input label{
    display:inline-block;
    background:#424242;
    border-radius: 3px;
    color:white;
    padding:0px 15px;
    line-height:35px;
    cursor:pointer;
}
  
.box-file-input label:after{
    content:"파일선택";
}
  
.box-file-input .file-input{
    display:none;
}
  
.box-file-input .filename{
    display:inline-block;
    padding-left:10px;
}