
.csstest{
    color:red;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR','sans-serif';
}

a {
    text-decoration: none;
    color: black;
}

/* 아이폰에서 input css 적용하기 */
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="number"],
input[type="checkbox"],
input[type="radio"],
input[type="button"]
{
    -webkit-appearance: none;
}

.container {
    text-align:center;
    padding-left : 10rem;
    padding-right : 10rem;
}



/* ---------------------------------( 상단 소개/컨테이너 공통 )---------------------------------------- */

.gray_sec{
    background-color:rgb(248,249,250) ;
    padding-top:1rem;
    padding-bottom: 2rem;
}

.white_sec{
    background-color: #E8E9ED;
    padding-bottom: 1rem;
}

.big_title{
    font-size:1.5rem;
    font-weight:bold;
}

.small_title{
    margin-top:0.5rem;
    font-size:1rem;
    color:rgb(199, 199, 199)
}


/* ---------------------------------( statistics  )---------------------------------------- */


.statistics_user_box {
    margin: 2rem 0 3rem 0;
    text-align: center;
}

.statistics_user_sub {
    font-size: 1.2rem;
    color: rgb(104, 104, 104);
    margin-bottom: 0.8rem;
}

.statistics_user_main {
    font-size: 1.6rem;
}

.satatistics_user_info{
    font-size: 1.4rem;
    color: #6188E8;
}

.filter_wrap {
    display: block;
    text-align: center;
    border: 1px solid rgb(153, 153, 153);
    margin-bottom: -1rem;
    width: 50rem;
    margin: 0 auto;
    font-size: 1.1rem;
    margin-top: 1.5rem;
}

.filter_title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 1rem 0;
    text-align: center;
}

.filter_radio_wrap {
    margin: 2rem 0 2rem 0;
}

.filter_select_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.filter_select_div {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
}

.filter_select_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    margin: 0.5rem 1rem 1rem 1rem;
    padding: 1rem;
    border: 1px solid rgb(216, 216, 216);
    background-color: white;
}

.filter_select_title {
    font-size: 1.3rem;
    font-weight: bold;
}

.filter_select_chk_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.filter_select_chk {
    text-align: left;
    display: inline-block;
    margin: 0 auto;
}

.filter_select_chk label{
    cursor:pointer;
}

.filter_btn {
    background: #6188E8;
    width: 12%;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding: 0.5rem;
    cursor: pointer;
    outline: 0;
    margin: 1.5rem 0 2.5rem 0;
}

.loading_wrap{
    font-size : 1.6rem;
    font-weight: bold;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
    letter-spacing: 3px;
}

.circle {
    display:inline-block;
    position: relative;
    top:25px;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border: 10px solid #e0e0e0;
    border-top: 10px solid  #6188E8;
    border-radius: 50em;
    transition: all .1s;
    animation-name: spinCircle;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spinCircle {
    from {
        transform: translate(-50%, -50%) rotate(0);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

input[type=radio] + label {
    display:inline-block;
    width: 13px;
    height: 13px;
    border: 1px solid #000000;
    cursor:pointer;
}

input[type=radio]:checked + label {
    background-image: url('../img/checker-on.svg');
}

input[type=radio] {
    display: none;
}


.chk_box {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

/* 기본 체크박스 숨기기 */
.chk_box input[type="checkbox"] { display: none; }

/* 선택되지 않은 체크박스 스타일 꾸미기 */
.on {
    width: 13px;
    height: 13px;
    border: 1px solid #000000;
    position: absolute;
    cursor : pointer;
    top: 5.5px;
    left: 0;
}

/* 선택된 체크박스 스타일 꾸미기 */
.chk_box input[type="checkbox"]:checked + .on {
background-image: url('../img/checker-on.svg');
}


